[{capture append="oxidBlock_pageBody"}]
	<script type="text/javascript"> 
		top.location.href = "[{$breakoutUrl}]";
	</script>
	<div class="actions" style="float: right; width: 230px;">
		<a class="payengine3cw-payment-continue-button" href="[{$breakoutUrl}]" target="_top"><input type="submit" class="button-right large" id="basketButton" value="[{oxmultilang ident='Finish'}]" /></a>
	</div>
[{/capture}]
[{include file="layout/base.tpl"}]