[{include file="headitem.tpl" title="GENERAL_ADMIN_TITLE"|oxmultilangassign}]

[{if $readonly }]
    [{assign var="readonly" value="readonly disabled"}]
[{else}]
    [{assign var="readonly" value=""}]
[{/if}]


<script type="text/javascript">
    <!--
    window.onload = function ()
    {
        //top.reloadEditFrame();
        [{if $updatelist == 1}]
        top.oxid.admin.updateList('[{$oxid}]');
        [{/if}]
    }
    //-->
</script>


<script type="text/javascript">
<!--

function DeletePic( sField )
{
    var oForm = document.getElementById("myedit");
    document.getElementById(sField).value="";
    oForm.fnc.value='save';
    oForm.submit();
}

//-->
</script>


<script type="text/javascript">
<!--

    function editArticle(sID, sClass) {
        var oTransfer = top.basefrm.edit.document.getElementById( "transfer" );
        oTransfer.oxid.value = sID;
        oTransfer.cl.value = sClass;
        oTransfer.submit();
        //top.forceReloadingListFrame();
        //forcing edit frame to reload after submit
        //top.forceReloadingEditFrame();

        var oSearch = top.basefrm.list.document.getElementById( "search" );
        oSearch.oxid.value = sID;
        oSearch.submit();
    }

//-->
</script>

<form name="transfer" id="transfer" action="[{$oViewConf->getSelfLink()}]" method="post">
    [{$oViewConf->getHiddenSid()}]
    <input type="hidden" name="oxid" value="[{$oxid}]">
    <input type="hidden" name="cl" value="cookiemanager_main">
</form>

<form name="myedit" enctype="multipart/form-data" id="myedit" action="[{$oViewConf->getSelfLink()}]" method="post">
    [{$oViewConf->getHiddenSid()}]
    <input type="hidden" name="cl" value="cookiemanager_main">
    <input type="hidden" name="fnc" value="">
    <input type="hidden" name="oxid" value="[{$oxid}]">
    <input type="hidden" name="editval[netcookiemanager__oxid]" value="[{$oxid}]">
    <input type="hidden" name="editval[netcookiemanager__oxdesc]" value="">

    <table cellspacing="0" cellpadding="0" border="0" style="width:98%;">
        <tr>
            <td valign="top" class="edittext" style="padding-top:10px;padding-left:10px;">
                <table cellspacing="0" cellpadding="0" border="0" width="98%">
                    <tr>
                        <td valign="top" class="edittext">
                            <table cellspacing="0" cellpadding="0" border="0">
                                [{block name="admin_cookiemanager_main_form"}]
                                <tr>
                                    <td class="edittext" width="120">
                                        [{oxmultilang ident="NET_COOKIE_MANAGER_MAIN_ACTIVE"}]
                                    </td>
                                    <td class="edittext" colspan="2">
                                        <input type="hidden" name="editval[netcookiemanager__oxactive]" value='0'>
                                        <input class="edittext" type="checkbox" name="editval[netcookiemanager__oxactive]" value='1' [{if $edit->netcookiemanager__oxactive->value == 1}]checked[{/if}] [{$readonly}]>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="edittext">
                                        [{oxmultilang ident="NET_COOKIE_MANAGER_MAIN_COOKIEID"}]
                                    </td>
                                    <td class="edittext" colspan="2">
                                        <input type="text" class="editinput" size="25" maxlength="[{$edit->netcookiemanager__oxcookieid->fldmax_length}]" name="editval[netcookiemanager__oxcookieid]" value="[{$edit->netcookiemanager__oxcookieid->value}]" [{$readonly}]>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="edittext">
                                        [{oxmultilang ident="NET_COOKIE_MANAGER_MAIN_TITLE"}]
                                    </td>
                                    <td class="edittext" colspan="2">
                                        <input type="text" class="editinput" size="25" maxlength="[{$edit->netcookiemanager__oxtitle->fldmax_length}]" name="editval[netcookiemanager__oxtitle]" value="[{$edit->netcookiemanager__oxtitle->value}]" [{$readonly}]>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="edittext">
                                        [{oxmultilang ident="NET_COOKIE_MANAGER_MAIN_GROUP"}]
                                    </td>
                                    <td class="edittext" colspan="2">
                                        <select name="editval[netcookiemanager__oxgroup]">
                                            <option value="0" [{if $edit->netcookiemanager__oxgroup->value == 0}]selected[{/if}]>[{oxmultilang ident="NET_COOKIE_MANAGER_MAIN_GROUPNAME_0"}]</option>
                                            <option value="1" [{if $edit->netcookiemanager__oxgroup->value == 1}]selected[{/if}]>[{oxmultilang ident="NET_COOKIE_MANAGER_MAIN_GROUPNAME_1"}]</option>
                                            <option value="2" [{if $edit->netcookiemanager__oxgroup->value == 2}]selected[{/if}]>[{oxmultilang ident="NET_COOKIE_MANAGER_MAIN_GROUPNAME_2"}]</option>
                                        </select>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="edittext">
                                        [{oxmultilang ident="NET_COOKIE_MANAGER_MAIN_SORT"}]
                                    </td>
                                    <td class="edittext" colspan="2">
                                        <input type="text" class="editinput" size="10" maxlength="[{$edit->netcookiemanager__oxsort->fldmax_length}]" name="editval[netcookiemanager__oxsort]" value="[{$edit->netcookiemanager__oxsort->value}]" [{$readonly}]>
                                    </td>
                                </tr>

                                [{/block}]
                                <tr>
                                    <td class="edittext">&nbsp;</td>
                                    <td class="edittext" colspan="2"><br>
                                        <input type="submit" class="edittext" name="save" value="[{oxmultilang ident="NET_COOKIE_MANAGER_MAIN_SAVE"}]" onClick="Javascript:document.myedit.fnc.value='save'" [{$readonly}]><br />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="edittext">&nbsp;</td>
                                    <td class="edittext" colspan="2">
                                        <br />
                                        [{include file="language_edit.tpl"}]
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</form>


</div>


<div class="actions">
[{strip}]
  <ul>
    <li><a [{if !$firstitem}]class="firstitem"[{assign var="firstitem" value="1"}][{/if}] id="btn.new" href="#" onClick="Javascript:top.oxid.admin.editThis( -1 );return false" target="edit">[{ oxmultilang ident="NET_COOKIEMANAGER_NEWCOOKIE"}]</a></li>
  </ul>
[{/strip}]
</div>



[{include file="bottomitem.tpl"}]