.ajax_loader {
	float: right;
	line-height: 32px;
	height: 32px;
	padding-left: 45px;
	background-position: left center !important;
	font-weight: bold;
}


.payengine3cw-payment-form input, select, textarea {
	max-width: 300px;
}

.payengine3cw-payment-form .card-brand-image-box {
	display: inline-block;
}


.payengine3cw-payment-form .card-brand-image-color.brand-is-deselected {
	display:none;
}

.payengine3cw-payment-form .card-brand-image-grey.brand-is-selected {
	display:none;
}

.payengine3cw-payment-form .card-brand-image-selection {
	margin-top: 3px;
}

.payengine3cw-payment-form .card-brand-image-selection img {
	width:auto;
	height: 20px;
	margin-right: 3px;
}

.payengine3cw-payment-form .invalid-card-number, .payengine3cw-payment-form .invalid-cvc-number {
	border-color: #fb7f88;
	background-image: url(../images/invalid.png);
	background-position: right 10px center;
	background-repeat: no-repeat;
}

.payengine3cw-payment-form .valid-card-number, .payengine3cw-payment-form .valid-cvc-number {
	background-image: url(../images/valid.png);
	background-position: right 10px center;
	background-repeat: no-repeat;
}


.payengine3cw-payment-form .expiration-date .multi-control {
	max-width: 300px;
}
.payengine3cw-payment-form .expiration-date .multi-control:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
}
.payengine3cw-payment-form .expiration-date .select-field {
	margin-right: 2%;
	width: 48%;
	display: inline-block;
}


.payengine3cw-payment-form .card-cvc input[type='text']{
	width: 100px;
}

.payengine3cw-ajax-overlay {
	position: relative;
    /*background-color: #000;
    filter:alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;*/
    z-index: 10000;
}


.form .control-group .note {
	display: inline-block;
}

.form .control-group .control-label + .control-element {
	padding-left: 150px;
}

.form .control-group .control-element .option:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.form .control-group.date-of-birth .control-element .control-element,
.form .control-group.expiration-date .control-element .control-element {
	display: inline-block;
}